<div class = "checkboxes">
<h2>Find events relevant to your interests!</h2><br>
<h3>Events & venues in <%= form_tag("results", method: :get) do %><%= select_tag(:location, options_for_select([['Any City', 'Any City'],['New York, NY', 'New York, NY'], ['Philadelphia, PA','Philadelphia, PA']] ), {:style => 'width: 120px;'}) %>
 related to:</h3><br>
 <%all_tags = Tag.all%>
 <% ordered_tags = (all_tags.sort {|a,b| a.name <=> b.name}) %>
  <% ordered_tags.each do |t| %>
  <div class = "home_tags five columns">
    <div class = "one columns"><%= check_box_tag "tags[]", t.id %></div>
    <div class = "label three columns"><%= label_tag("#{t.name}") %></div>

    </div>
  <% end %>
  <div class ="home_tags fifteen columns">
    <div class = "match_all"><%= label_tag("Match All Tags") %>
    <%= check_box_tag "match_all", true %>
    <%= submit_tag "Search" %><br>
    <a href="/tags"><u>View all categories</u></a></div></div>
<% end %>
</div>



<div class = "featured fifteen columns">

<h2>Featured Outings</h2>
<%@places%>
<% @places.each do |p| %>
  <a href = "/places/<%=p.id%>"><%= p.name %></a>
  <br><%= p.pretty_time %><br>
  <%= p.venue_address %><br>
  <%= p.description %><br>
  <%if p.tags.empty? == false %>
    <% p.tags.each do |t| %>
     <a href = "/tags/<%=t.id%>"> <%= t.name %></a> |
     <%end%>
  <% end %><br><br>
<% end %>
</div>
