<div class = "checkboxes">
<h4>Find events relevant to your interests!</h4><br>
I'm looking for events & venues in <%= form_tag("results", method: :get) do %><%= select_tag(:location, options_for_select([['Any City', 'Any City'],['New York, NY', 'New York, NY'], ['Philadelphia, PA','Philadelphia, PA']] ), {:style => 'width: 120px;'}) %>
 related to:<br><br>
 <%all_tags = Tag.all%>
 <% ordered_tags = (all_tags.sort {|a,b| a.name <=> b.name}) %>
  <% ordered_tags.each do |t| %>
  <div class = "home_tags three columns">
    <%= label_tag("#{t.name}") %>
    <%= check_box_tag "tag[]", t.id %>
    </div>
  <% end %>
  <div class ="home_tags fifteen columns">
    <%= label_tag("Match All Tags") %>
    <%= check_box_tag "match_all", true %>
    <%= submit_tag "Search" %><a href="/tags" class = 'fifteen columns'>View all categories</a></div>
<% end %>
</div>



<div class = "featured fifteen columns">

<h3>Featured Outings</h3>

<% Place.all.each do |p| %>
  <a href = "/places/<%=p.id%>"><%= p.name %></a>
  <% date_array = p.date.to_s.split("-") %>
  <%= "#{date_array[1]}/#{date_array[2]}/#{date_array[0]}" %><br>
  <%= p.venue_address %><br>
  <%= p.description %><br>
  <%if p.tags.empty? == false %>
    <% p.tags.each do |t| %>
     <a href = "/tags/<%=t.id%>"> <%= t.name %></a> |
     <%end%>
  <% end %><br><br>
<% end %>
</div>
