<div class = "event">
  <%t = @tag%>
  <h3>Outings tagged with "<%= t.name %>"</h3>
  <% t.places.each do |p| %>
   <a href = "/places/<%=p.id%>"><%=p.name%></a>
  | <%=p.location%>
    <% date_array = p.date.to_s.split("-") %>
  | <%= "#{date_array[1]}/#{date_array[2]}/#{date_array[0]}" %> |<br>
  <% end %>
  <br>
  <div class = "admin">
    <%=link_to 'Delete this tag', "/tags/#{t.id}", :method => :delete %>
  </div>
</div>

