<div class = "event">
  <h4>Outings tagged with "<%= @tag.name %>"</h4><br>
  <% @tag.current_outings.each do |outing| %>
    <a href = "/outings/<%=outing.id%>"><%=outing.name%></a>
    <br> <%=outing.location%><br>
    <%=  outing.pretty_time %> <br>
  <% end %><br>
  <%if current_user%>
    <%= link_to 'Delete this tag', @tag, :method => :delete %>
  <%end%>
  <br>
</div>

