<%p = @place%>
<%= form_for p do |f| %>
<%= f.label :name, "*Name" %>
<%= f.text_field :name%>
<%= f.label :date, "Start date" %>
<%= f.text_field :date, {placeholder: "mm/dd/yyyy"} %>
<%= f.label :end_date, "End date" %>
<%= f.text_field :end_date, {placeholder: "mm/dd/yyyy"} %>
<%= f.label :start_time %>
<%= f.text_field :start_time %>
<%= f.label :end_time %>
<%= f.text_field :end_time %>
<%= f.label :sponsor %>
<%= f.text_field :sponsor %>
<%= f.label :location %>
<%= f.select(:location, options_for_select([['New York, NY', 'New York, NY'], ['Philadelphia, PA','Philadelphia, PA']], p.location )) %>
<%= f.label 'Venue Address' %>
<%= f.text_field :venue_address %>
<%= f.label :description %>
<%= f.text_area :description %>
<%= f.label :link, "url for event" %>
<%= f.text_field :link, {placeholder: "http://"} %><br>
  <% @all_tags = p.tags %><br>
  <%if @all_tags.empty? == false %>
  <h6>Current tags</h6>
  <% @all_tags.each do |t| %>
    <a href = "/tags/<%=t.id%>" class = 'two columns'><%= t.name %></a>
  <% end %><br><br>
  <% end%>

<%= f.label :tags, "Add tags (Seperated by commas)" %>
<%= f.text_field :tags, value: "" %>
<%= f.submit %>
<% end %>
