<div class = "featured fifteen columns">
<h4>Outings:</h4><br>

<% @places.each do |p| %>
  <a href = "/places/<%=p.id%>"><%= p.name %></a>
    <br><%= p.pretty_time %><br>
    <% if p.venue_address != nil %>
      <%= p.venue_address %><br>
      <%else%>
      <%end%>
    <% if p.description != nil %>
      <%= p.description%><br>
    <%else%>
    <%end%>
  <%if p.tags.empty? == false %>
    <% p.tags.each do |t| %>
     <a href = "/tags/<%=t.id%>"> <%= t.name %></a> |
     <%end%>
  <% end %><br><br>
<% end %>
</div>
