<div class = "featured fifteen columns">
<h3>Featured Outings:</h3>

<% Place.all.each do |p| %>
  <a href = "/places/<%=p.id%>"><%= p.name %></a>
  <% if p.date != nil %>
    <% date_array = p.date.to_s.split("-") %>
    <%= "#{date_array[1]}/#{date_array[2]}/#{date_array[0]}" %><br>
  <%else%>
  <%end%>
    <% if p.venue_address != nil %>
      <%= p.venue_address %><br>
      <%else%>
      <%end%>
    <% if p.description != nil %>
      <%= p.description%><br>
    <%else%>
    <%end%>
  <%if p.tags.empty? == false %>
    <% p.tags.each do |t| %>
     <a href = "/tags/<%=t.id%>"> <%= t.name %></a> |
     <%end%>
  <% end %><br><br>
<% end %>
</div>
