<!DOCTYPE html>
<html>
<head>
  <title>GEEKout</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <link href='http://fonts.googleapis.com/css?family=Alex+Brush|Share+Tech+Mono' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>

  <!-- Mobile Specific Metas
  ================================================== -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <!-- Favicons
  ================================================== -->
  <link rel="shortcut icon" href="../../assets/images/favicon.ico">
  <link rel="apple-touch-icon" href="../../assets/images/apple-touch-icon.png">
  <link rel="apple-touch-icon" sizes="72x72" href="../../assets/images/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="114x114" href="../../assets/images/apple-touch-icon-114x114.png">

</head>
<body>
    <header>
  <div class ="container">
      <a href ="/">
  <h1 class = "one-third column">
  <div class = "geek">GEEK</div><div class ="out">out</div></h1></a>

  <nav>
    <ul>
      <li class = "three columns"><a href = "/places/new">ADD OUTING</a></li>
      <li class = "three columns"><a href = "/tags">VIEW ALL TAGS</a></li>
      <%if current_user %>
      <li class = "three columns">Logged in as: <%= current_user.email %> <%= link_to "LOG OUT", logout_path %></li>
      <% else %>
      <li class = "two columns"><%= link_to "SIGN UP", signup_path %></li>
      <li class = "two columns"><%= link_to "LOGIN", login_path %></li>
      <% end %>
    </div>
    </ul>
  </div>
</nav>
</header>
<div class ="main container">
  <div class = "main_box sixteen columns">
<div class ="flash">
<% flash.each do |key, msg| %>
  <%= content_tag :div, msg, :id => key %>
<% end %>
</div>
    <%= yield %>
  </div>
</div>
</body>
</html>
